<!DOCTYPE html>
<html lang="<%= AppConfig[:locale] %>">
<head>
	<%#mdc: new stuff, to address IE 10 and earlier issues with Bootstrap %>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title><%=  (@page_title.blank? ? '' : "#{strip_mixed_content(@page_title)} | ") %><%= t('brand.title') %></title>
	<%= csrf_meta_tags %>
<%# block cross-origin refer per https://go-to-hellman.blogspot.com/2015/06/protect-reader-privacy-with-referrer.html %>
	<% if AppConfig[:pui_block_referrer] %>
		<meta name="referrer" content="origin-when-cross-origin" />
	<% end %>


	<script>
	 var APP_PATH = '<%= PrefixHelper.app_prefix("") %>';
	</script>

	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>

        <%= render partial: 'shared/metadata' %>

	<% ASUtils.find_local_directories('public/views/layout_head.html.erb').each do |template| %>
		<% if File.exists?(template) %>
			<!-- Begin plugin layout -->
			<%= render :file => template %>
			<!-- End plugin layout -->
		<% end %>
	<% end %>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

  <% plausible_io_analytics_data_domain = AppConfig[:plausible_io_analytics_data_domain] if AppConfig.has_key?(:plausible_io_analytics_data_domain) %>
  <% unless (plausible_io_analytics_data_domain.nil? || plausible_io_analytics_data_domain.empty?) %>
    <!-- Plausible.io Analytics -->
    <script defer data-domain="<%= plausible_io_analytics_data_domain %>" src="https://plausible.io/js/script.js"></script>
  <% end %>

  <% fathom_analytics_data_site = AppConfig[:fathom_analytics_data_site] if AppConfig.has_key?(:fathom_analytics_data_site) %>
  <% unless (fathom_analytics_data_site.nil? || fathom_analytics_data_site.empty?) %>
    <!-- Fathom Analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="<%= fathom_analytics_data_site %>" defer></script>
  <% end %>

  <% matomo_analytics_url = AppConfig[:matomo_analytics_url] if AppConfig.has_key?(:matomo_analytics_url) %>
  <% matomo_analytics_site_id = AppConfig[:matomo_analytics_site_id] if AppConfig.has_key?(:matomo_analytics_site_id) %>
  <% unless (matomo_analytics_url.nil? || matomo_analytics_url.empty? ||  matomo_analytics_site_id.nil? || matomo_analytics_site_id.empty?) %>
    <!-- Matomo Analytics -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="<%= matomo_analytics_url %>";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '<%= matomo_analytics_site_id %>']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src='//cdn.matomo.cloud/umd.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
  <% end %>


</head>

<body class="site">
        <%= umd_lib_environment_banner %>
	<%= render partial: 'shared/skipnav' %>

	<div class="container-fluid no-pad container">
		<%= render partial: 'shared/header' %>
	</div>

  <%= render partial: 'shared/navigation' %>

	<section id="container-fluid" class="container site-content">
		<a name="maincontent" id="maincontent"></a>
		<%= flash_messages %>
		<%= yield %>
	</section>

	<script  type="text/javascript" >
		$(".upper-record-details .note-content").each(function(index, element){$(this).readmore(<%= AppConfig[:pui_readmore_max_characters] %>)});
	</script>

	<%= render partial: 'shared/footer' %>

	<% if AppConfig[:pui_enable_staff_link] %>
		<% if AppConfig.has_key?(:frontend_proxy_url) && defined?(@result) && @result.respond_to?(:uri) %>
			<script>
				FRONTEND_URL = "<%= j(AppConfig[:frontend_proxy_url]) %>";
				RECORD_URI = "<%= j(@result.uri) %>";
			</script>
		<% end %>
	<% end %>

  <!-- UMD Wrapper -->
  <script src="https://umd-header.umd.edu/build/bundle.js?search=0&amp;search_domain=&amp;events=0&amp;news=0&amp;schools=0&amp;admissions=0&amp;support=1&amp;support_url=https%253A%252F%252Fgiving.umd.edu%252Fgiving%252FshowSchool.php%253Fname%253Dlibraries&amp;wrapper=1160&amp;sticky=0"></script>

  <% google_analytics_code = AppConfig[:public_google_analytics_code] if AppConfig.has_key?(:public_google_analytics_code) %>
  <% unless (google_analytics_code.nil? || google_analytics_code.empty?) %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= google_analytics_code %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= google_analytics_code %>');
    </script>
  <% end %>

</body>
</html>
