<section  id="header">
  <div class="row">
    <div class="col-md-2 col-sm-12 col-xs-12">
      <a href="//lib.umd.edu" target="_blank"><img id="logo-header" class="img-responsive" width="170px" alt="University of Maryland Libraries Logo" src="<%= asset_url('/assets/images/liblogo.png') %>">    </a>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
		  <% if request.original_fullpath == '/' %>
        <span class="app-title"><%= t('brand.title') %></span>
		  <% else %>
        <a title="<%=t('brand.title_link_text') %>" href="<%= AppConfig[:public_proxy_url] %>" class="app-title"><%= t('brand.title') %></a>
      <% end %>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="pull-right-md website-feedback">
        <p class="website-feedback-label">Help us improve our website</p>
        <a class="website-feedback-link" href="https://www.lib.umd.edu/special/contact/home">Send feedback</a>
      </div>
    </div>
  </div>
</section>
