<section id="navigation" class="container">
  <nav class="navbar navbar-default" aria-label="top-level navigation">
    <div class="navbar-header top-bar">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsemenu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse pull-left" id="collapsemenu">
        <ul class="nav nav navbar-nav">
          <%# TODO: add class="active" if we're on that page %>
          <% $MAIN_MENU.each do |link| %>
            <% uri = URI.parse(link[0]) %>
            <% if uri.relative? %>
              <% link[0] = app_prefix(link[0]) %>
            <% end %>
            <li><a href="<%= link[0] %>"><%= t(link[1]) %></a></li>
          <% end %>
          <% unless AppConfig[:pui_hide][:search_tab] %>
            <li>
              <%= link_to({:controller => :search, :action => :search, :reset => 'true'}, {:title => I18n.t('search_tab', :target => t('archive._plural'))}) do %>
                <span class="fa fa-search" aria-hidden="true"></span>
                <span class="sr-only"><%= I18n.t('search_tab', :target => t('archive._plural')) %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <% unless AppConfig[:pui_hide][:search_box_tab] %>
        <div class="pull-right hidden-xxs">
          <%# Using search_box_id to prevent search form from having duplicate HTML ids %>
          <%= render partial: 'shared/navigation_search', locals: {search_box_id: '1'} %>
        </div>
        <div class="visible-xxs">
          <%= render partial: 'shared/navigation_search', locals: {search_box_id: '2'} %>
        </div>
      <% end %>
    </div>
  </nav>
</section>