<%= form_tag(app_prefix('/search'), :method => 'get', :class => 'navbar-form') do %>
  <%= hidden_field_tag 'op[]', nil, id: "op_1" %>
  <div class="input-group">
    <%= text_field_tag 'q[]', nil, id: "q_1", :class => 'form-control umd-search', :placeholder => I18n.t('actions.search') %>
    <span class="input-group-btn d-flex">
      <%= button_tag(type: "submit", class: "btn btn-default umd-search-btn") do %>
        <span class="fa fa-search" aria-hidden="true"></span>
        <span class="sr-only"><%= I18n.t('search_tab', :target => t('archive._plural')) %></span>
      <% end %>
    </span>
  </div>
<% end %>
