<section id="navigation">
  <%# UMD Customization %>
  <nav class="navbar navbar-expand-lg navbar-light navbar-default top-bar p-0 align-items-start" aria-label="<%= I18n.t("navigation.top_level") %>">
      <button type="button" class="bg-light navbar-toggler m-2" data-toggle="collapse" data-target="#collapsemenu" aria-expanded="false">
  <%# End UMD Customization %>
        <div class="container">
          <span class="sr-only"><%= t('navigation.mobile_menu') %></span>
          <span class="navbar-toggler-icon"></span>
        </div>
      </button>
      <div class="collapse navbar-collapse top-bar pl-4" id="collapsemenu">
        <ul class="navbar-nav mr-auto">
          <%# TODO: add class="active" if we're on that page %>
          <% $MAIN_MENU.each do |link| %>
            <%# UMD Customization %>
            <%# The following is necessary because the "Help" link is a
                fully-qualified URL to an external site, and not a relative
                URL path. %>
            <% uri = URI.parse(link[0]) %>
            <% link_url = uri.relative? ? app_prefix(link[0]) : link[0] %>
            <li class="nav-item p-2">
              <a class="nav-link" href="<%= link_url %>"><%= t(link[1]) %></a>
            </li>
            <%# End UMD Customization %>
          <% end %>
          <% unless AppConfig[:pui_hide][:search_tab] %>
            <li class="nav-item p-2"><a class="nav-link" href="<%=  app_prefix('/search?reset=true') %>" title="<%= I18n.t('search_tab', :target => t('archive._plural'))%>">
                <span class="fa fa-search" aria-hidden="true"></span>
                <span class="sr-only"><%= I18n.t('search_tab', :target => t('archive._plural')) %></span>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
      <%# UMD Customization %>
      <% unless AppConfig[:pui_hide][:search_box_tab] %>
        <div class="p-2">
          <%# Using search_box_id to prevent search form from having duplicate HTML ids %>
          <%= render partial: 'shared/navigation_search', locals: {search_box_id: '1'} %>
        </div>
      <% end %>
      <%# End UMD Customization %>
  </nav>
</section>
